<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-success" %>
  <%= link_to "Delete", cocktail_path, method: :delete, data: { confirm: "Are you sure ?" },class: "btn btn-danger" %>
  <h3>Ingredient :</h3>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %> of <%= dose.ingredient.name %></p>
    <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure ?" },class: "btn btn-danger" %>
  <% end %>
  <br><br>
  <%= link_to "New dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>
</div>
